// Font
$font-primary: 'Roboto', sans-serif;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 800;

$font-size-medium: 18px;
$font-size-large: 30px;
$font-size-xlarge: 40px;

// Colors
$color-primary: #183153;
$color-secondary: #F2F4F3;
$color-tertiary: #e0e7ff;
$color-quaternary: #FFA500;

:root {
	--color-primary: #183153;
	--color-secondary: #F2F4F3;
	--color-tertiary: #e0e7ff;
	--color-quaternary: #FFA500;
}