@use '../base/mixin' as m;
@use '../base/variables' as v;

html {
    scroll-behavior: smooth;
    background-color: v.$color-tertiary;
}
  
.section {
	width: 100%;
	margin: auto;

	.content-section {
		max-width: 1000px;
		margin: 0 auto;
		padding: 4rem 1rem; // mobile

		@include m.desktop-breakpoint {
			padding: 10rem 2rem; // desktop
		}
	}
}

main {
    border-radius: 2rem 2rem 0 0;
    background-color: v.$color-secondary;
}

// news container

#news-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.news-card {
	background-color: #f9f9f9;  // sfondo chiaro per distinguere le card
	padding: 1.5rem;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.05);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 0.2s ease, box-shadow 0.2s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 6px 12px rgba(0,0,0,0.1);
	}
}

.news-title {
	font-size: 1.1rem;
	font-weight: 600;
	color: #183153;
	margin-bottom: 0.5rem;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.news-date {
	font-size: v.$font-size-medium;
	color: #555;
}