@use '../base/mixin' as m;
@use '../base/variables' as v;

html {
    scroll-behavior: smooth;
    background-color: var(--color-tertiary);
}

.section {
	width: 100%;
	margin: 0 auto;

	.content-section {
		max-width: 1000px;
		margin: 0 auto;
		padding: 4rem 1rem; // Mobile

		@include m.desktop-breakpoint {
			padding: 10rem 2rem; // Desktop
		}
	}
}

main {
    border-radius: 2rem 2rem 0 0;
    background-color: var(--color-secondary);

	i {
		color: var(--color-secondary);
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;

	p {
		margin: 2rem 2rem;
		text-align: center;
		font-weight: 300;
		line-height: 1;
		text-transform: capitalize;
	}
}