@use '../base/mixin' as m;
@use '../base/variables' as v;

html {
    scroll-behavior: smooth;
    background-color: var(--color-tertiary);;
}
  
.section {
	width: 100%;
	margin: auto;

	.content-section {
		max-width: 1000px;
		margin: 0 auto;
		padding: 4rem 1rem; // mobile

		@include m.desktop-breakpoint {
			padding: 10rem 2rem; // desktop
		}
	}
}

main {
    border-radius: 2rem 2rem 0 0;
    background-color: var(--color-secondary);
}