@use '../base/variables' as v;

.button-custom {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-weight: v.$font-bold;
	font-family: v.$font-primary;
	color: var(--color-primary);      // colore testo di default SECONDARY
	background:  var(--color-secondary);   // sfondo di default
	border: 1px solid var(--color-primary);
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.3s ease;

	&:hover {
		background: v.$color-tertiary; // sfondo diventa colore secondario
	}

	i {
		color: var(--color-primary);
		padding-right: 0.3rem;
	}
}

.button-custom {
	display: block;
	margin: 0 auto;
}

// utility button styles

.utility-group {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem; // spazio verticale tra i cerchi
	z-index: 9999;

	.utility-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
        border: 1px solid transparent;
		border-radius: 50%;
		font-size: 1.5rem;
		text-decoration: none;
		transition: all 0.3s ease;

        i {
            color: white;
        }

		&:hover {
			background-color: var(--color-tertiary);;
            border-color: var(--color-primary);;

            i {
                color: var(--color-primary);;
            }
		}
	}

	.github {
		background-color: #333;
	}

	.linkedin {
		background-color: #0077B5;
	}

	.color-theme {
		background-color: v.$color-quaternary;
	}
}