@use '../base/variables' as v;

.button-custom {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-weight: v.$font-bold;
	font-family: v.$font-primary;
	color: var(--color-secondary);      // colore testo di default
	background:  var(--color-primary);   // sfondo di default
	border: none;
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.3s ease;

	&:hover {
		background: v.$color-quaternary; // sfondo diventa colore secondario
	}
}

.button-custom {
	display: block;
	margin: 0 auto;
}