@use '../base/variables' as v;

.hero-section {
    position: relative;
    justify-items: center;

    .hero-video {
        position: absolute;
        width: 100% !important;
        height: 130%; // Different from width, to occupy the space behind the top left and top right main's corners
        object-fit: cover;
        z-index: -1;
        opacity: 45%;
    }

    h1 {
        font-size: 80px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        line-height: 0.9;
    }

    h2 {
        font-size: 18px;
        text-align: center; 
    }

    p {
        text-align: justify;
        font-weight: v.$font-semi-bold;
    }
}